@import '../01Settings/_settings-colors.scss';
@import '../02Tools/_settings-breakpoints.scss';

.form-group {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    text-align: center;

    @include for-desktop-up {
        justify-items: center;
    }

    @include for-big-desktop-up {
        justify-items: center;
    }
}



