@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="objects-text-center">
    <h1>Забравена парола</h1>
</section>



<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email">Въведете електронна поща</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <button type="submit" class="btn btn-primary">Изпрати</button>
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
