@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section class="objects-text-center">
    <h1 class="">Влез в системата</h1>
    <h2>Използвайте локален акаунт за достъп</h2>
</section>

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">

                <section class="objects-text-center">
                    
                </section>

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Input.Email">Електронна поща</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Password">Парола</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            <!--@Html.DisplayNameFor(m => m.Input.RememberMe)-->
                            Запомни ме ?
                        </label>
                    </div>
                </div>

                <section class="objects-text-center">
                    <button type="submit" class="btn btn-primary">Влез</button>
                </section>
                    
                

                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Забравена парола?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрирай се</a>
                    </p>
                </div>

            </form>
        </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
