@import '../01Settings/_settings-colors.scss';

header {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(152,208,207,0.7343312324929971) 60%);
}

header a {
    color: $secondary-500;
}

header a:hover {
    color: $blue-800;
}
