@import '../01Settings/_settings-colors.scss';
@import '../02Tools/_settings-breakpoints.scss';

footer {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(195,152,208,1) 56%);
    padding: 1rem 1rem;
}

footer div {
    color: $gray-800;


    @include for-phone-only {
        font-size: 1.5rem;
        text-align: center;
    }

    @include for-tablet-portrait-up {
        font-size: 2rem;
        text-align: center;
    }

    @include for-tablet-landscape-up {
        font-size: 2.5rem;
        text-align: center;
    }

    @include for-desktop-up {
        font-size: 1rem;
        text-align: center;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    @include for-big-desktop-up {
        font-size: 1rem;
        text-align: center;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
}

footer div a {
    color: $gray-800;
    text-decoration: none;
}