

@{
    ViewData["Title"] = "Home Page";
}

<!-- Begin in Main -->

<div class="text-center">

    <h1 class="display-4">Добре Дошли във Среща за животни</h1>


<section class="object-picture-section">
    <img src="~/Images/CatAndDog.jpg" alt="Cat And Dog" />
    <img src="~/Images/CatAndDog.jpg" alt="Cat And Dog" />
    <img src="~/Images/CatAndDog.jpg" alt="Cat And Dog" />
    <img src="~/Images/CatAndDog.jpg" alt="Cat And Dog" />
    <img src="~/Images/CatAndDog.jpg" alt="Cat And Dog" />
    <img src="~/Images/CatAndDog.jpg" alt="Cat And Dog" />
    <img src="~/Images/CatAndDog.jpg" alt="Cat And Dog" />
    <img src="~/Images/CatAndDog.jpg" alt="Cat And Dog" />
    <img src="~/Images/CatAndDog.jpg" alt="Cat And Dog" />
    <img src="~/Images/CatAndDog.jpg" alt="Cat And Dog" />
    <img src="~/Images/CatAndDog.jpg" alt="Cat And Dog" />
    <img src="~/Images/CatAndDog.jpg" alt="Cat And Dog" />
</section>
</div>







