
@{
    ViewData["Title"] = "Home Page";
}

<!-- Begin in Main -->

<section class="objects-text-center">

    <h1 class="display-4">Добре Дошли във Среща за животни</h1>


    <section class="objects-picture-section">
        <img src="~/Images/CatAndDog.jpg" alt="Cat And Dog" />
    </section>

    <p>
        Регистрирайте се за да видите пълната функционалност на Среща за животни
    </p>
</section>







